*
{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body
{
    height: 100%;
}

.header
{
    border-width: 0 0 1px 0;
    border-color: grey;
    border-style: solid;
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
    position: relative;
    flex: 0 1 auto;
    min-width: 45rem;
}

.main-title
{
    font-size: 50px;
    text-align: center;
}

.select-main
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 5rem;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    height: fit-content;
    padding-bottom: 5rem;
}

.game-container
{
    border-style: solid;
    border-radius: 4rem;
    border-width: 2px;
    height: 20rem;
    width: 20rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition-property: transform, width, height;
    transition-duration: 0.3s;
    color: black;
    text-decoration: none;
}

.game-container:hover
{
    transform: scale(1.09);
}

.game-title
{
    text-align: center;
    font-size: 100px;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.description-container
{
    width: 100%;
    height: 17rem;
    background-color: #dbdbdb;
    position: absolute;
    top: 17rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: top 0.3s;
}

.description-container:hover
{
    top: 3rem;
}


.description-title
{
    font-weight: bold;
    font-size: 20px;
    padding-top: 0.6rem;
}

.description
{
    width: 90%;
    margin-top: 1rem;
}

.description-container:hover>.description
{
    margin-top: 0;
}

.box
{
    display: flex;
    flex-flow: column;
}

.content
{
    flex: 1 1 auto;
    display: flex;
    position: relative;
}

.lobby-main
{
    width: 100%;
    height: 100%;
    min-width: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    background-color: #eaf8ff;
}

.big-text
{
    font-size: 40px;
    position: relative;
    background-color: #a8cefa;
    border-radius: 3rem;
    width: 18rem;
    text-align: center;
    padding: 1rem;
}

.card-wrapper
{
    position: absolute;
    top: -200rem;
}

.playing-card
{
    cursor: pointer;
    transition-property: height, width, left, right, top, bottom, transform;
    transition-duration: 0.3s;
}

.card-wrapper>img
{
    position: relative;
    transition-property: height, width, left, right, top, bottom, transform;
    transition-duration: 0.3s;
    top: 0;
}

.hoverable-card:hover>img
{
    top: -90px
}

.playlist-container
{
    width: 20rem;
    min-width: 20rem;
    height: 100%;
    background-color: #c6e4f8;
}

.playlist
{
    text-align: center;
    width: 100%;
    list-style: circle;
}

.playlist>li
{
    height: 100%;
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-left: 0;
}

.player-box
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.join-input
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    height: 100%;
    width: 100%;
    border: none;
    background: inherit;
    text-align: center;
}

.join-input:focus-visible
{
    outline: 1px solid black;
}

.join-button
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.join-button:hover
{
    cursor: pointer;
    background-color: #acd4f8;
}

.playlist .new
{
    animation: from-left 1s forwards;
}

@keyframes from-left
{
    from
    {
        margin-left: -20rem;
    }

    to
    {
        margin-left: 0;
    }
}

.start-button
{
    background-color: #92acff;
    border: none;
    border-radius: 2rem;
    width: 13rem;
    height: 5rem;
    position: relative;
    font-size: 40px;
}

.start-button[available="true"]:hover
{
    background-color: #7092ff;
    cursor: pointer;
}

.start-button[available="false"]
{
    background-color: #929292;
}

.back-button
{
    position: absolute;
    left: 2rem;
    top: 0;
    height: 100%;
}

.back-image
{
    height: 100%;
    transform: rotate(-90deg);
}

.confirm-button
{
    width: 4rem;
    height: 4rem;
    background-color: #80ee80;
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    position: absolute;
    left: 17rem;
    z-index: 1;
}

.confirm-button:hover
{
    background-color: #6fce6f;
    cursor: pointer;
}

.color-pick-container
{
    position: absolute;
    top: -15rem;
    width: 40rem;
    height: 10rem;
    background: #f8f8ff70;
    border: solid;
    border-radius: 3rem;
    display: grid;
    grid-template-columns: 10rem 10rem 10rem 10rem;
    overflow: hidden;
    padding: 1rem;
    z-index: 53;
    box-shadow: 0 0 20px;
}

.color-pick-container img
{
    height: 10rem;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.color-indicator
{
    position: absolute;
    top: -550px;
    background-color: #f8f8ff70;
    border-radius: 20px;
    border: solid black 1px;
    padding: 10px;
    animation: show-up 0.3s;
    z-index: 1;
}

.table-card
{
    top: -400px;
}

@keyframes show-up
{
    from
    {
        opacity: 0;
        top: -500px;
    }
}

@media screen and (max-height: 1200px)
{
    .color-indicator
    {
        top: -200px;
        left: 100px;
    }

    @keyframes show-up
    {
        from
        {
            opacity: 0;
            left: 0;
        }
    }

    .table-card
    {
        top: -200px;
    }
}


.deck
{
    /*background-color: #6fce6f;*/
    left: -20vw;
    box-shadow: -4px 2px 0 0 rgb(0 0 0), -7px 4px 0 0 rgb(255 255 255), -11px 7px 0 0 rgb(0 0 0);
}

.player-sidebar
{
    right: 0;
    width: 15rem;
    position: absolute;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player-div
{
    text-align: center;
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color, font-size;
    transition-duration: 0.3s;
    flex-direction: column;
}

.current-round
{
    font-size: 1.4em;
    color: crimson;
}

.won
{
    font-size: 0.81em;
    color: gray;
}

.error-wrap
{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000026;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-box
{
    height: fit-content;
    width: fit-content;
    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
}

.win-screen
{
    width: 100%;
    height: 100%;
    background-color: #ffffff59;
}

.winner
{
    height: 40%;
    width: 100%;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-weight: bold;
    animation: expand 0.5s backwards;
}

.podium
{
    font-size: 60px;
    width: 100%;
    height: 20%;
    display: flex;
    font-weight: bold;
}

.podium>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #CD7F32;
    border: black solid 1px;
    animation: expand 0.5s 2s backwards;
}

.podium>div:first-child
{
    color: silver;
    animation: expand 0.5s 1s backwards;
}

.podium>div:only-child
{
    width: 100%;
}

@keyframes expand
{
    from
    {
        font-size: 10px;
    }
}

.remaining-players
{
    height: 40%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 600;
}

.restart-button
{
    position: absolute;
    top: 0;
    width: 12rem;
    height: 4rem;
    background-color: #b9e9ff;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    border-radius: 0 0 2em 2em;
    cursor: pointer;
    overflow: hidden;
    animation: popup 0.5s 3s backwards;
}

.restart-button:hover
{
    background-color: #9adcfa;

}

.chat
{
    position: absolute;
    top: 10rem;
    left: 22rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    background-color: #78e078;
    cursor: pointer;
    text-align: center;
}

.chat::after
{
    content: "";
    position: absolute;
    left: 83%;
    top: 40px;
    border-left: 26px solid #78e078;
    border-top: 23px solid transparent;
    border-bottom: 5px solid transparent;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 8px;
}

.chat-option
{
    z-index: 1000;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: #7092ff;
    animation: move-out 0.3s;
    transition: transform 0.3s;
}

@keyframes move-out
{
    from
    {
        top: 0;
        left: 0;
    }
}

.chat-option:nth-child(1)
{
    top: 10rem;
}

.chat-option:nth-child(2)
{
    left: 9.5rem;
    top: 3.1rem;
}

.chat-option:nth-child(3)
{
    left: 5.9rem;
    top: -8.1rem;
}

.chat-option:nth-child(4)
{
    left: -5.9rem;
    top: -8.1rem;
}

.chat-option:nth-child(5)
{
    left: -9.5rem;
    top: 3.1rem;
}

.chat-option:hover
{
    transform: scale(1.2);
}

@keyframes popup
{
    from
    {
        height: 0;
    }
}

@media screen and (max-width: 700px)
{
    .game-container
    {
        height: 15rem;
        width: 15rem;
    }

    .game-title
    {
        font-size: 70px;
    }

    .description-container
    {
        top: 12rem;
        height: 12rem;
    }

    .player-sidebar
    {
        width: 7rem;
    }

    .player-div
    {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 500px)
{
    .select-main
    {
        grid-template-columns: repeat(1, auto);
    }

}