*
{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body
{
    height: 100%;
}

.header
{
    border-width: 0px 0px 1px 0px;
    border-color: grey;
    border-style: solid;
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
    position: relative;
}

.main-title
{
    font-size: 50px;
    text-align: center;
}

.select-main
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 5rem;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    height: fit-content;
    padding-bottom: 5rem;
}

.game-container
{
    border-style: solid;
    border-radius: 4rem;
    border-width: 2px;
    height: 20rem;
    width: 20rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition-property: transform, width, height;
    transition-duration: 0.3s;
    color: black;
    text-decoration: none;
}

.game-container:hover
{
    transform: scale(1.09);
}

.game-title
{
    text-align: center;
    font-size: 100px;
}

.description-container
{
    width: 100%;
    height: 17rem;
    background-color: #dbdbdb;
    position: absolute;
    top: 17rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: top 0.3s;
}

.description-container:hover
{
    top: 3rem;
}


.description-title
{
    font-weight: bold;
    font-size: 20px;
    padding-top: 0.6rem;
}

.description
{
    width: 90%;
    margin-top: 1rem;
}

.description-container:hover>.description
{
    margin-top: 0rem;
}

.box
{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .header
{
    flex: 0 1 auto;
}

.content
{
    flex: 1 1 auto;
    display: flex;
}

.lobby-main
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    background-color: #eaf8ff;
}

.big-text
{
    font-size: 40px;
    position: relative;
    background-color: #a8cefa;
    border-radius: 1rem;
    width: 18rem;
    text-align: center;
}

.card-wrapper
{
    position: absolute;
    height: fit-content;
    top: -200rem;
}

.hoverable-card
{
    transition: all 0.3s;
}

.playlist-container
{
    width: 20rem;
    min-width: 20rem;
    height: 100%;
    background-color: #c6e4f8;
}

.playlist
{
    text-align: center;
    width: 100%;
    list-style: circle;
}

.playlist li
{
    /*width: 100%;*/
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    margin-left: 0rem;
}

.join-input
{
    font-size: 20px;
    height: 100%;
    width: 100%;
    border: none;
    background: inherit;
    text-align: center;
}

.join-input:focus-visible
{
    outline: 1px solid black;
}

.join-button:hover
{
    cursor: pointer;
    background-color: #acd4f8;
}

.playlist .new
{
    animation: from-left 1s forwards;
}

@keyframes from-left
{
    from
    {
        margin-left: -20rem;
    }

    to
    {
        margin-left: 0rem;
    }
}

.start-button
{
    background-color: #92acff;
    border: none;
    border-radius: 2rem;
    width: 13rem;
    height: 5rem;
    position: relative;
    font-size: 40px;
}

.start-button[available="true"]:hover
{
    background-color: #7092ff;
    cursor: pointer;
}

.start-button[available="false"]
{
    background-color: #929292;
}

.back-button
{
    position: absolute;
    left: 2rem;
    top: 0;
    height: 100%;
}

.back-image
{
    height: 100%;
    transform: rotate(-90deg);
}

.confirm-button
{
    width: 4rem;
    height: 4rem;
    background-color: #80ee80;
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    position: absolute;
    left: 17rem;
}

.confirm-button:hover
{
    background-color: #6fce6f;
    cursor: pointer;
}

@media screen and (max-width: 700px)
{
    .game-container
    {
        height: 15rem;
        width: 15rem;
    }

    .game-title
    {
        font-size: 70px;
    }

    .description-container
    {
        top: 12rem;
        height: 12rem;
    }
}

@media screen and (max-width: 500px)
{
    .select-main
    {
        grid-template-columns: repeat(1, auto);
    }

}
