<h2 align="center">Vändåtta</h2>
<h3>Inledning</h3>
<p>
    Vändåtta inleds med att alla spelare får <span style="text-decoration:underline">sju</span> kort var.
    Spelare får kolla på korten men de ska hållas dolda från varandra. Högen placeras på bordet mellan spelarna och ett
    kort dras från högen och placeras uppåtvänt på bordet bredvid högen.
    Om kortet är ett av de speciella korten (se nedan) läggs det längst ned i högen och dragningen upprepas.
    En spelare som börjar spelet bestäms av spelarna.
</p>
<br>
<h3>Speciella kort</h3>
<h4>Ess</h4>
<p>
    Om en spelare placerar ett ess ska alla andra spelare dra var sitt kort från högen. Ess får <span style="text-decoration:underline">endast</span> placeras om de
    stämmer överens i färg eller valör med det översta kortet på bordet.
    Om en spelare placerar flera ess samtidigt ska de andra spelarna dra så många kort som antalet ess.
</p>
<h4>Åttor</h4>
<p>
    Om en spelare placerar en åtta får spelaren välja vilken färg åttan ska behandlas som av nästa spelare. Detta gör
    spelaren genom att säga namnet på färgen medan kortet läggs. Åttor får placeras på alla andra kort, oavsett färg
    eller valör.
    Åttor får <span style="text-decoration:underline">endast</span> placeras om en spelare inte kan placera något annat
    kort. <!-- hrmf... -->
    Endast <span style="text-decoration:underline">en</span> åtta får placeras i taget.
</p>
<br>
<h3>Spelets gång</h3>
<p>
    Spelaren vars tur det är får lägga från handen ett kort som stämmer överens i färg eller valör med det översta
    uppåtvända kortet på bordet samt så många kort den vill som stämmer överens med det lagda kortet i valör, så länge det
    inte är en åtta.
</p>
<br>
<p>
    Om spelaren inte kan placera ett kort enligt denna metod och inte har några åttor (se ovan) drar den ett kort från högen
    och försöker återigen lägga ett kort. En spelare får som mest dra tre kort innan turen går över till nästa spelare.
    Nästa spelare i turordningen är den som sitter medsols från föregående spelare. Om högen tar slut under spelets gång
    blandas de uppåtvända korten förutom det översta och placeras nedåtvända som en ny hög.
</p>
<br>
<h3>Spelets slut</h3>
<p>
    Speciella kort (se ovan) får inte placeras som sista kort och ifall en spelare har något av dessa kort kvar <span style="text-decoration:underline">måste</span>
    den istället dra.
    Om en spelare kan lägga alla sin kort, det vill säga att spelaren endast har ett kort och/eller <span style="text-decoration:underline">bara</span> kort med samma valör
    och dessa kort är inte speciella kort, säger spelaren "Lappen!" eller "Lapparna!" beroende på om den har ett eller flera
    kort kvar.
    Då en spelare lägger sitt sista kort sägs det att spelaren har "gått ut". Spelaren har då vunnit och behöver inte dra
    kort om en annan spelare lägger ett ess. När alla spelare har gått ut förutom en är spelet slut.
</p>