<h2 align="center">Caravan</h2>
<h3>Uppställning</h3>
<p>
	Caravan är ett spel där två spelare tävlar om att skicka handelskaravaner med varor. 
	Det finns tre rutter som spelarna tävlar om. Målet är att bygga upp sina rutter till att ha
	värdet mellan 21 och 26, inklusivt. Båda spelarna har en egen full kortlek med två jokrar som de drar kort ur.
</p>
<br>
<h3>Inledning</h3>
<p>
    Caravan inleds med att alla spelare får <span style="text-decoration:underline">åtta</span> kort var.
    Spelare får kolla på korten men de ska hållas dolda från varandra. Sedan påbörjas en inledningsfas.
	Varje spelare placerar en i taget från höger till vänster ett kort på varje rutt. I inledningsfasen får endast
	icke-klädda kort spelas, alltså 2-10 samt ess. Under inledningsfasen får man inte slänga kort eller dra nya.
</p>
<br>
<h3>Spelets gång</h3>
<p>
    Efter inledningsfasen börjar huvudfasen. Då har den spelare vars tur det tre val:
	placera ett kort från handen, slänga ett kort i handen eller slänga en hel rutt. Efter att spelaren gjort det
	går turen över. För icke-klädda kort gäller följande regler för placering: man får endast placera kortet på sin sida,
	och kortet måste matcha ruttens färg eller ordning. Ruttens färg är färgen av det översta kortet, och ruttens
	ordning ges av de två översta korten. Tex: om högen innehåller korten ruter fyre och spader fem, (där spader fem är överst)
	är de icke-klädda korten som passar alla spader samt alla kort över fem. Om högen inte har några kort får man lägga vilket
	icke-klätt kort som helst, och om högen endast har ett icke-klätt kort passar alla kort	som inte har samma valör som det kortet.
	Icke-klädda kort lägger till sin valör till ruttens värde, där ess är värda ett.
</p>
<br>
<p>
    Under huvudfasen ska man alltid ha fem kort på hand, om möjligt. Efter att ha lagt eller slägnt ett kort
	drar man alltså ett nytt kort från sin hög, om högen har kort kvar. Högen blandas inte om, om man får slut på kort förlorar man.
</p>
<br>
<h3>Speciella kort</h3>
<p>
	Speciella kort är klädda kort, inklusive jokrar. De läggs på ett icke-klätt kort och har då en effekt baserat på det kortet.
	Speciella kort får läggas både på sin egen och på motståndarens sida, och måste inte läggas överst på en rutt (förutom damer).
	Det får maximalt finnas tre speciella kort på ett icke-klätt kort. Om ett icke-klätt förvinner av någon anledning
	försvinner också alla speciella kort på det.
</p>
<h4>Knekt - J</h4>
<p>
    Knekter får placeras på vilket icke-klätt kort som helts, och slänger då det kortet. Även knekten själv slängs.
	Detta minskar då värdet på rutten baserat på kortet som togs bort.
</p>
<h4>Dam - D</h4>
<p>
    Damer får endast placerar på det översta icke-klädda korten i en rutt. Damen ändrar då ordningen på den rutten
	till den motstatta, och ändrar färgen till damens färg. En till dam läggs på samma kort ändras ordningen tillbaka
	och färgen byts till den nya damens färg.
</p>
<h4>Kung - K</h4>
<p>
    Kungar får placeras på vilket icke-klätt kort som helst, och dubblar värdet på det kortet. Flera kungar på
	samma kort multiplicerar värdet: tre kungar gör kortet värt 2^3 = 8 gånger sitt ursprungliga värde.
</p>
<h4>Joker</h4>
<p>
	Jokrar får placeras på vilket icke-klätt kort som helst, och tar då bort alla andra kort på planen som
	har det kortets valör. Om kortet jokern placerades på var ett ess, tas istället alla andra kort på planet
	med essets färg bort.
</p>
<br>

<h3>Spelets slut</h3>
<p>
    Spelet tar slut när alla rutter är vunna av någon spelare. Då vinner spelaren med flest vunna rutter. 
	En rutt är vunnen av en spelare då dess värde ligger mellan 21 och 26, samt ruttens värde är högre än 
	motståndarens värde på rutten. Båda spelarna har samma värde på en rutt är inte rutten vunnen av någon,
	även om värdet är mellan 21 och 26.
</p>